@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div style="display: flex; justify-content: space-around;">
    <img src="~/customer/img/403.svg" style="height: 100vh;"/>
</div>
