@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="wrapper">
    <form class="login" method="post">
        <p class="title">@ViewData["Title"]</p>
        <p>Enter your email.</p>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating">
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
            <i class="fa fa-user"></i>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <a asp-page="./Login" >Login</a>
        <div class="row text-center">
            <input type="submit" class="registerSubmit" value="Reset Password" />
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
