@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Two-factor authentication";
}

<div class="wrapper">
    <form asp-route-returnUrl="@Model.ReturnUrl" class="login" method="POST">
        <p class="title">@ViewData["Title"]</p>
        <p>Your login is protected with an authenticator app. Enter your authenticator code below.</p>

        <input asp-for="RememberMe" type="hidden" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating">
            <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" placeholder="Authenticator code" />
            <i class="fa fa-key"></i>
            <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
        </div>
        <div>
            <div class="checkbox">
                <label asp-for="Input.RememberMachine" class="form-label">
                    <input style="display: inline-block; width: auto;" asp-for="Input.RememberMachine" />
                    @Html.DisplayNameFor(m => m.Input.RememberMachine)
                </label>
            </div>
        </div>
        <div class="row text-center">
            <input type="submit" class="registerSubmit" value="Login" />
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}