@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Homepage</h1>
    <p>This is areas/guest/home/index view</a>.</p>
</div>
<h1>Can u see something here</h1>
<a href="@Url.Action("Details", "HomeController")" class="btn btn-primary">View Details</a>