@model KeyboardVN.Models.Order

@{
    ViewData["Title"] = "Edit Order";
}

@section style {
    <link rel="stylesheet" href="~/admin/mmenu/assets/examples/css/forms/masks.css">
    <link rel="stylesheet" href="~/admin/mmenu/assets/examples/css/forms/layouts.css">
}

<div class="page">
    <!-- Page Header -->
    <div class="page-header">
        <h1 class="page-title">Edit Order Status</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="ManageOrder" asp-action="Index">Manage Order</a></li>
            <li class="breadcrumb-item active">Edit Order</li>
        </ol>
    </div>
    <!-- End Page Header -->
    <!-- Page Content -->
    <div class="page-content">

        
        <div class="row">
            <div class="col-md-2">

            </div>
            <!-- Panel -->
            <div class="panel col-md-8">
                <div class="panel-heading">
                    <h3 class="panel-title">Order Infomation</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <!-- Example Basic Form (Form row) -->
                        <div class="example-wrap">
                            <h4 class="example-title">Receiver Infomation</h4>
                            <div class="example">
                                <form asp-action="EditOrder" method="POST">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" asp-for="UserId" />
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label class="form-control-label" asp-for="Receiver"></label>
                                            <input asp-for="Receiver" class="form-control" />
                                            <span asp-validation-for="Receiver" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="form-control-label" asp-for="ShipPhone"></label>
                                            <input asp-for="ShipPhone" class="form-control" />
                                            <span asp-validation-for="ShipPhone" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label" asp-for="ShipEmail"></label>
                                        <input asp-for="ShipEmail" class="form-control" />
                                        <span asp-validation-for="ShipEmail" class="text-danger"></span>
                                    </div>
                                    <h4 class="example-title">order detail</h4>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label class="form-control-label" asp-for="ShipCountry"></label>
                                            <input asp-for="ShipCountry" class="form-control" />
                                            <span asp-validation-for="ShipCountry" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="form-control-label" asp-for="ShipCity"></label>
                                            <input asp-for="ShipCity" class="form-control" />
                                            <span asp-validation-for="ShipCity" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="form-control-label" asp-for="ShipProvince"></label>
                                            <input asp-for="ShipProvince" class="form-control" />
                                            <span asp-validation-for="ShipProvince" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label class="form-control-label" asp-for="ShipStreet"></label>
                                            <input asp-for="ShipStreet" class="form-control" />
                                            <span asp-validation-for="ShipStreet" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="form-control-label" asp-for="CreatedTime"></label>
                                            <input asp-for="CreatedTime" class="form-control" />
                                            <span asp-validation-for="CreatedTime" class="text-danger"></span>
                                        </div>
                                    </div>
                                    @* <div class="form-group ">
                                        <label class="form-control-label" asp-for="Status"></label>
                                        <input asp-for="Status" class="form-control" />
                                        <span asp-validation-for="Status" class="text-danger"></span>
                                    </div> *@
                                    <div class="example" style="width:150px">
                                        <select asp-for="Status" class="form-control">
                                            <option value="Processing">Processing</option>
                                            <option value="Accepted">Accepted</option>
                                            <option value="Shipping">Shipping</option>
                                            <option value="Canceled">Canceled</option>
                                            </select>
                                        <span asp-validation-for="Status" class="text-danger"></span>
                                    </div>
                                    
                                    <div class="form-group">
                                        <button type="submit" value="Save" class="btn btn-primary">Update</button>
                                        <a type="button" asp-controller="ManageOrder" asp-action="ViewOrder" class="btn-default btn">Cancel</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- End Example Basic Form (Form row) -->
                    </div>
                </div>
            </div>
            <!-- End Panel -->
            <div class="col-md-2">
            </div>
        </div>
        
    </div>
    <!-- End Page Content -->
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/admin/global/vendor/formatter/jquery.formatter.js"></script>
    <script src="~/admin/global/js/Plugin/formatter.js"></script>
    <script src="~/admin/global/vendor/jquery-placeholder/jquery.placeholder.js"></script>
    <script src="~/admin/global/js/Plugin/jquery-placeholder.js"></script>


}
