<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Elj Shop - Online Art Supplies Shop</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!<!-- Favicon -->
    <link rel="icon" href="~/customer/img/logo.ico" type="image/icon type">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="~/customer/css/font-awesome_5.10.0_css_all.min.css?version=1" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/customer/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/customer/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/loginStyle.css?version=1" rel="stylesheet">
</head>
<body>
    @RenderBody()
</body>
